<volume>
  <name>test1</name>
  <allocation>0</allocation>
  <capacity unit="{{ unit }}">{{ size }}</capacity>
  <target>
    <permissions>
      <owner>107</owner>
      <group>107</group>
      <mode>0744</mode>
      <label>virt_image_t</label>
    </permissions>
  </target>
</volume>
