<pool type='dir'>
  <name>{{ pool_info.name }}</name>
  <capacity unit='bytes'>0</capacity>
  <allocation unit='bytes'>0</allocation>
  <available unit='bytes'>0</available>
  <source>
  </source>
  <target>
    <path>{{ pool_info.path }}</path>
  </target>
</pool>
